<a href="https://colab.research.google.com/github/Xicoat/PandasCourse/blob/master/Leccion58_Filtering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Filtering 
import pandas as pd
import numpy as np

alcohol = pd.read_csv('https://andybek.com/pandas-drinks', usecols=['country', 'wine_servings'], index_col=['country'], squeeze=True)

In [34]:
# Buscar paises que empiezan con V con filter
# Se ejecuta sobre el indice
alcohol.filter(regex='^V')

country
Vanuatu      11.0
Venezuela     3.0
Vietnam       1.0
Name: wine_servings, dtype: float64

In [35]:
# filtrando con like
# Se ejecuta sobre el indice
alcohol.filter(like='stan')

country
Afghanistan      NaN
Kazakhstan      12.0
Kyrgyzstan       6.0
Pakistan         NaN
Tajikistan       NaN
Turkmenistan    32.0
Uzbekistan       8.0
Name: wine_servings, dtype: float64

In [37]:
# Filtrar por valores
alcohol[alcohol > 200].head()

country
Andorra      312.0
Argentina    221.0
Australia    212.0
Belgium      212.0
Croatia      254.0
Name: wine_servings, dtype: float64

In [41]:
# Equivalente usando loc
alcohol.loc[alcohol > 200].head()

country
Andorra      312.0
Argentina    221.0
Australia    212.0
Belgium      212.0
Croatia      254.0
Name: wine_servings, dtype: float64

In [44]:
# Podemos crear una función que encapsule la expresión lógica
def getplus200(x):
  return x > 200

alcohol[getplus200].head()

country
Andorra      312.0
Argentina    221.0
Australia    212.0
Belgium      212.0
Croatia      254.0
Name: wine_servings, dtype: float64

In [52]:
# Método where()
# Es un método que reemplaza valores dada una condicion FALSA
alcohol.where(lambda x: x>200, other='too small')

country
Afghanistan    too small
Albania        too small
Algeria        too small
Andorra              312
Angola         too small
                 ...
Venezuela      too small
Vietnam        too small
Yemen          too small
Zambia         too small
Zimbabwe       too small
Name: wine_servings, Length: 193, dtype: object

In [48]:
# Método where()
# Si no definimos other, el parámetro por default es NaN
alcohol.where(lambda x: x>200).head()

country
Afghanistan      NaN
Albania          NaN
Algeria          NaN
Andorra        312.0
Angola           NaN
Name: wine_servings, dtype: float64

In [50]:
# Podemos usar esta caracteristica para alimitar todos los registros
# que no corresponden con nuestra condicion.
# Esto no altera la Serie original
alcohol.where(lambda x: x>200).dropna()

country
Andorra              312.0
Argentina            221.0
Australia            212.0
Belgium              212.0
Croatia              254.0
Denmark              278.0
Equatorial Guinea    233.0
Greece               218.0
Italy                237.0
Luxembourg           271.0
Portugal             339.0
Slovenia             276.0
Name: wine_servings, dtype: float64

In [53]:
# Método mask
# Es un método de reemplazo como where que opera 
# dada una condición lógica VERDADERA
alcohol.mask(lambda x: x>200).dropna()

country
Albania              54.0
Algeria              14.0
Angola               45.0
Antigua & Barbuda    45.0
Armenia              11.0
                     ...
Vanuatu              11.0
Venezuela             3.0
Vietnam               1.0
Zambia                4.0
Zimbabwe              4.0
Name: wine_servings, Length: 150, dtype: float64