<a href="https://colab.research.google.com/github/Xicoat/PandasCourse/blob/master/Leccion_59_Transforming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Filtering 
import pandas as pd
import numpy as np

alcohol = pd.read_csv('https://andybek.com/pandas-drinks', usecols=['country', 'wine_servings'], index_col=['country'], squeeze=True)

In [5]:
# Modificar un registro de la serie
alcohol.loc['Algeria'] = 19
alcohol.loc['Algeria']

19.0

In [11]:
# El método update es más escalable que la asignación directa
# Actualiza la serie
alcohol.update(pd.Series([200, 20], index=['Albania', 'Algeria']))
print(f"{alcohol.loc['Albania']}, {alcohol.loc['Algeria']}")

200.0, 20.0

In [13]:
# El método apply() realiza una transformación a todos los elementos de la serie
# No afecta a la serie
alcohol.apply(lambda x: x**2).head()

country
Afghanistan        NaN
Albania        40000.0
Algeria          400.0
Andorra        97344.0
Angola          2025.0
Name: wine_servings, dtype: float64

In [15]:
# Equivalente a la función anterior
alcohol.apply(np.square).head()

country
Afghanistan        NaN
Albania        40000.0
Algeria          400.0
Andorra        97344.0
Angola          2025.0
Name: wine_servings, dtype: float64

In [19]:
# Podemos crear nuestra propia función
def cuadrado(x):
  return x**2

alcohol.apply(cuadrado).head()

country
Afghanistan        NaN
Albania        40000.0
Algeria          400.0
Andorra        97344.0
Angola          2025.0
Name: wine_servings, dtype: float64

In [21]:
# Podemos crear nuestra propia función con más parámetros
# el valor de X esta reservado a la serie misma
# el parámetro de args se asigna al siguiente parámetro
def cuadrado_con_minimo(x, minimo):
  if x < minimo:
    return x**2
  return x

alcohol.apply(cuadrado_con_minimo, args=(250,)).head()

country
Afghanistan        NaN
Albania        40000.0
Algeria          400.0
Andorra          312.0
Angola          2025.0
Name: wine_servings, dtype: float64

In [23]:
# Equivalente al anterior
alcohol.apply(cuadrado_con_minimo, minimo=250).head()

country
Afghanistan        NaN
Albania        40000.0
Algeria          400.0
Andorra          312.0
Angola          2025.0
Name: wine_servings, dtype: float64